.all {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 0.15fr 0.42fr 0.42fr;
  grid-template-areas: 
    "frequencyDisplay frequencyDisplay"
    "summaryDisplay consumerProducerElementProducers"
    "summaryDisplay consumerProducerElementConsumers";
  height: 93vh;
  width: 100%;
  column-gap: 1%;
  row-gap: 1.2%;
  font-family: 'Aptos', sans-serif;
  overflow: hidden;
  background-color: rgb(246, 247, 250);
}

.frequencyDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: frequencyDisplay;
}

.summaryDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.consumerProducerElement {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow-x:auto;
  overflow-y:hidden ;
}

.consumerProducerElementProducers {
  grid-area: consumerProducerElementProducers;
}

.consumerProducerElementConsumers {
  grid-area: consumerProducerElementConsumers;
}


